Pytorch-Lightning
decord
kornia
timm
open_clip_torch
av
omegaconf
einops
plotly
transformers
imageio==2.14.1
imageio-ffmpeg==0.4.7
opencv-python==4.8.0.74
moviepy
taming-transformers-rom1504
fairscale
annotated-types
gradio==3.50.2
xformers==0.0.20